
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.input{
    font-size: 20px;
    padding: 5px;
    border-radius:5px;
    
}

.btn{
     font-size: 20px;
    padding: 7px;
    width: 100px;
    background:blue;
    border: none;
    border-radius:5px;
}

.main ul {
    font-size: 30px;
    width:220px;
  
    color:white;
    border-radius: 5px;
   
}
.main ul li{
    background-color: blue;
   margin-top: 5px;
   margin-left: -40px;
   border-radius: 5px;
   padding-left: 20px;
   
}